body {
  color: #272142;
  font-family: "Nunito", sans-serif;
}

footer {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  padding-left: 140px;
  padding-right: 140px;
}

.contact,
.copyright {
  align-self: center;
  margin: 0;
}

a.nav-link.active-color {
  color: #662eed;
}

.nav-link {
  font-weight: bold;
}

.container-fluid {
  padding-left: 140px;
  padding-right: 140px;
}

h1 {
  font-weight: bold;
  font-size: 72px;
}

h2 {
  font-weight: bold;
  font-size: 64px;
}

h3 {
  font-weight: bold;
  font-size: 36px;
}

h4 {
  font-weight: bold;
  font-size: 28px;
}

h5 {
  font-weight: bold;
  font-size: 24px;
}

h6 {
  font-weight: bold;
  font-size: 18px;
}

.recipe-pic {
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 560px;
  height: 350px;
  object-fit: cover;
}

.container {
  padding: 0;
}

.white {
  object-fit: fill;
  width: 460px;
  height: 450px;
  margin-right: 40px;
}
p {
  font-size: 18px;
}

.fav-img {
  width: 360px;
  height: 350px;
  object-fit: cover;
}

.contact-us-header {
  color: #662eed;
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-weight: bold;
    font-size: 45px;
  }

  h2 {
    font-weight: bold;
    font-size: 30px;
  }

  h3 {
    font-weight: bold;
    font-size: 36px;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
  }

  h5 {
    font-weight: bold;
    font-size: 24px;
  }

  h6 {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }

  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .white {
    object-fit: fill;
    width: auto;
    height: auto;
  }
  .fav-img {
    width: 280px;
    height: 250px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 20px;
  }
  .card-img-overlay {
    padding: 5px;
  }
  .card-title {
    margin-bottom: 5px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
  }

  h3 {
    font-weight: bold;
    font-size: 16px;
  }

  h4 {
    font-weight: bold;
    font-size: 12px;
  }

  h5 {
    font-weight: bold;
    font-size: 12px;
  }

  h6 {
    font-weight: bold;
    font-size: 10px;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
  }
  .footer-logo {
    height: auto;
    max-width: 30%;
  }
  .about {
    margin-left: 20px;
    margin-right: 20px;
  }
  .fav-recipe {
    text-align: center;
  }
}
